header{
    background-color: $colorePrimario;
    nav{
        height: 80px;
        width: 70%;
        display: flex;
        margin: auto;
        align-items: center;
        img{
            height: 50%;
            
        }
    }
}